body{
	background-image: url(images/backgroundbanner.jpg);
	background-size: 100% 100%;
}

h1 {
	font-family: Times New Roman;
}

.grid-item {
	font-family: Geneva;
	border: 2px solid black;
  background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.grid-container {
	display: grid;
	grid-template-rows: repeat (2 , 100px);
	grid-template-columns: repeat (1 , 50px);
	justify-content: left;
}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
	font-family: Times New Roman;
}

.classroom-img {
	display: block;
	width: 1500px ;
	height: 200px ;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	margin-bottom: 75px;
}

.noelessay {
	display:grid;
	justify-content: center;
	margin-bottom: 75px;
}

.hyperlinkimg {
	position: relative;
}

.center2 {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
	font-family: Times New Roman;
	text-align: center;
}

.classroom-img2 {
	display: block;
	width: 1000px ;
	height: 100px ;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	margin-bottom: 75px;
}

.classroom-img3 {
	display: block;
	width: 1000px ;
	height: 250px ;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	margin-bottom: 75px;
}

.center3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
	font-family: Times New Roman;
	text-align: center;
}

.center4 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
	font-family: Times New Roman;
	text-align: center;
}

.layeredportrait {
	display:grid;
	justify-content: center;
	margin-bottom: 75px;
}

.grid-container3 {
	display: grid;
	grid-template-rows: repeat (1 , 300px);
	justify-content: center;
}
	